<head>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/main.css" />

</head>

<body>
    <form action="/magazine/" method="post">
        <div class="new-book-container">
            <h2>New Magazine Details</h2>

            <!-- Code from getbootstrap.com for forms -->
            <div class="row mb-3">
                <label for="title" class="col-sm-2 col-form-label">Title</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="title" name="title" placeholder="Magazine Title"
                        required />
                </div>
            </div>

            <div class="row mb-3">
                <label for="author" class="col-sm-2 col-form-label">Author</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="author" name="author" placeholder="Author" />
                </div>
            </div>

            <div class="row mb-3">
                <label for="publication_information" class="col-sm-2 col-form-label">Publication Information</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="publication_information"
                        name="publication_information" />
                </div>
            </div>

            <div class="row mb-3">
                <label for="language" class="col-sm-2 col-form-label">Language</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="language" name="language" placeholder="Language" />
                </div>
            </div>

            <div class="row mb-3">
                <label for="classification" class="col-sm-2 col-form-label">Classification</label>
                <div class="col-sm-6">
                    <select class="form-select" name="classification" id="classification">
                        <option value="weekly">Weekly</option>
                        <option value="monthly">Monthly</option>
                        <option value="annual">Annual</option>
                    </select>
                </div>
            </div>

            <div class="row mb-3">
                <label for="general_note" class="col-sm-2 col-form-label">General Note</label>
                <div class="col-sm-6">
                    <textarea class="form-control" name="general_note" id="general_note" rows="5" cols="15"></textarea>
                </div>
            </div>

            <fieldset class="row mb-3">
                <legend class="col-form-label col-sm-2 pt-0">Status:</legend>
                <div class="col-sm-6">
                    <div class="form-check">
                        <input name="status" class="form-check-input" type="radio" name="gridRadios" id="gridRadios1"
                            value="available" checked>
                        <label class="form-check-label" for="gridRadios1">
                            Available
                        </label>
                    </div>
                    <div class="form-check">
                        <input name="status" class="form-check-input" type="radio" name="gridRadios" id="gridRadios2"
                            value="in_circulation">
                        <label class="form-check-label" for="gridRadios2">
                            In Circulation
                        </label>
                    </div>
                    <div class="form-check disabled">
                        <input name="status" class="form-check-input" type="radio" name="gridRadios" id="gridRadios3"
                            value="unknown">
                        <label class="form-check-label" for="gridRadios3">
                            Unknown
                        </label>
                    </div>
                </div>
            </fieldset>

            <div class="row mb-3">
                <label for="copies" class="col-sm-2 col-form-label">Number of Copies: </label>
                <div class="col-sm-6">
                    <input type="number" class="form-control" id="copies" name="copies" placeholder="1" />
                </div>
            </div>

            <div class="row mb-3">
                <label for="image" class="col-sm-2 col-form-label">Magazine Image:</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="image" name="image" value="/images/magazine_gen.png" />
                </div>
            </div>

            <!-- <div class="row mb-3">
                <label for="formFile" class="col-sm-2 form-label">Magazine Image: </label>
                <div class="col-sm-6">
                    <input class="form-control" type="file" id="formFile" name="image">
                </div>
            </div> -->

            <button type="submit" class="btn btn-secondary">Add Magazine</button>

    </form>

    <button type="submit" class="btn btn-secondary"><a href=<%='/' %>>Cancel</a></button>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>

</body>

</html>

<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>

</body>

</html>