body {
    background-color: rgb(249, 245, 216);
    /* margin-top: 60px; */
}

h1 {
    text-align: center;
    font-family: 'Prompt', sans-serif;
}

/* .top_librarian {
    position: fixed;
    top: 0;
    right: 0;
} */

.hm_pg {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 10 15 10 15;
    padding: 20px;
}

.mn_pg {
    background-color: #d9d7bb;
    width: 300px;
    height: 250px;
    text-align: center;
    border-radius: 20px;
    margin: 10 15 10 15;
    padding: 10px;
}

/* list-style: none; */
}

/* .show-items {
    border: solid 1px black;
    margin: 0 auto;
    width: 700px;
    height: 600px;
    text-align: left;
    padding: 20px;
}

.buyprod {
    border: solid 1px black;
    margin: 0 auto;
    width: 500px;
    height: 500px;
    text-align: left;
    padding: 20px;
}

.products {
    border: solid 1px black;
    margin: 0 auto;
    width: 500px;
    height: 500px;
    text-align: left;
    padding: 20px;
}

.edit-products {
    border: solid 1px black;
    margin: 0 auto;
    width: 500px;
    height: 500px;
    text-align: left;
    padding: 20px;
} */