body {
    background-color: rgb(249, 245, 216);

}

h1 {
    text-align: center;
    font-family: 'Prompt', sans-serif;
    padding: 10px;
}

h3 {
    margin-left: 20px;
}

/* .top_librarian {
    position: fixed;
    top: 0;
    right: 0;
} */

.hm_pg {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 10 15 10 15;
    padding: 20px;
}

.mn_pg {
    background-color: #d9d7bb;
    width: 18rem;
    height: 18rem;
    text-align: center;
    border-radius: 20px;
    margin: 10 15 10 15;
    padding: 10px;
}

p {
    margin: 10 20;
    padding: 10px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: white;
}

.new-book-container {
    border: solid 1px gray;
    margin: 0 auto;
    width: 70%;
    /* height: 600px; */
    text-align: left;
    padding: 20px;
}

.show-book-container {
    /* border: solid 1px black; */
    margin: 0 auto;
    width: 50%;
    /* height: 600px; */
    text-align: left;
    padding: 20px;
    background-color: rgb(249, 245, 216);

}

.bgclr {
    background-color: rgb(249, 245, 216);

}

.navcolor {
    background-color: #d9d7bb;
    /* color: white; */
}

/* .navfontclr {
    color: white;
} */

/*
.buyprod {
    border: solid 1px black;
    margin: 0 auto;
    width: 500px;
    height: 500px;
    text-align: left;
    padding: 20px;
}

.products {
    border: solid 1px black;
    margin: 0 auto;
    width: 500px;
    height: 500px;
    text-align: left;
    padding: 20px;
}

.edit-products {
    border: solid 1px black;
    margin: 0 auto;
    width: 500px;
    height: 500px;
    text-align: left;
    padding: 20px;
} */